ios/*.xcodeproj/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.jks
android/keystore.properties
*.ipa
*.apk
.DS_Store
ios/CommuteScoutDrive/GoogleService-Info.plist
android/app/google-services.json
